<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" id="test.example.helloworld" version="1.0.0">
  <name>blink-to-text</name>
  <description>blink-to-text</description>
  <author/>
  <content src="index.html"/>
  <access origin="*"/>
  <allow-navigation href="*"/>
  <allow-intent href="itms:*"/>
  <allow-intent href="itms-apps:*"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="Orientation" value="default"/>
  <preference name="loglevel" value="DEBUG"/>
  <preference name="AndroidLaunchMode" value="singleTop"/>
  <preference name="ErrorUrl" value=""/>
  <preference name="Fullscreen" value="false"/>
  <preference name="KeepRunning" value="true"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="1000"/>
  <preference name="AllowInlineMediaPlayback" value="false"/>
  <preference name="AutoHideSplashScreen" value="true"/>
  <preference name="BackupWebStorage" value="cloud"/>
  <preference name="EnableViewportScale" value="false"/>
  <preference name="FadeSplashScreen" value="true"/>
  <preference name="FadeSplashScreenDuration" value="250"/>
  <preference name="KeyboardDisplayRequiresUserAction" value="true"/>
  <preference name="MediaTypesRequiringUserActionForPlayback" value="none"/>
  <preference name="ShowSplashScreenSpinner" value="false"/>
  <preference name="SuppressesIncrementalRendering" value="false"/>
  <preference name="TopActivityIndicator" value="gray"/>
  <preference name="GapBetweenPages" value="0"/>
  <preference name="PageLength" value="0"/>
  <preference name="PaginationBreakingMode" value="page"/>
  <preference name="PaginationMode" value="unpaginated"/>
  <feature name="LocalStorage">
    <param name="ios-package" value="CDVLocalStorage"/>
  </feature>
  <preference name="UIWebViewDecelerationSpeed" value="normal"/>
  <preference name="monaca:AndroidIsPackageNameSeparate" value="false"/>
  <preference name="target-device" value="universal"/>
  <platform name="ios">
    <preference name="orientation" value="all"/>
    <icon src="/res/ios/icon/icon.png" width="57" height="57"/>
    <icon src="/res/ios/icon/icon@2x.png" width="114" height="114"/>
    <icon src="/res/ios/icon/icon-72.png" width="72" height="72"/>
    <icon src="/res/ios/icon/icon-72@2x.png" width="144" height="144"/>
    <icon src="/res/ios/icon/icon-60.png" width="60" height="60"/>
    <icon src="/res/ios/icon/icon-60@2x.png" width="120" height="120"/>
    <icon src="/res/ios/icon/icon-60@3x.png" width="180" height="180"/>
    <icon src="/res/ios/icon/icon-76.png" width="76" height="76"/>
    <icon src="/res/ios/icon/icon-76@2x.png" width="152" height="152"/>
    <icon src="/res/ios/icon/icon-40.png" width="40" height="40"/>
    <icon src="/res/ios/icon/icon-40@2x.png" width="80" height="80"/>
    <icon src="/res/ios/icon/icon-20.png" width="20" height="20"/>
    <icon src="/res/ios/icon/icon-20@2x.png" width="40" height="40"/>
    <icon src="/res/ios/icon/icon-50.png" width="50" height="50"/>
    <icon src="/res/ios/icon/icon-50@2x.png" width="100" height="100"/>
    <icon src="/res/ios/icon/icon-small.png" width="29" height="29"/>
    <icon src="/res/ios/icon/icon-small@2x.png" width="58" height="58"/>
    <icon src="/res/ios/icon/icon-small@3x.png" width="87" height="87"/>
    <icon src="/res/ios/icon/icon-83.5@2x~ipad.png" width="167" height="167"/>
    <icon src="/res/ios/icon/icon-1024.png" width="1024" height="1024"/>
    <splash src="/res/ios/screen/Default@2x~universal~anyany.png"/>
    <splash src="/res/ios/screen/Default~iphone.png" width="320" height="480"/>
    <splash src="/res/ios/screen/Default@2x~iphone.png" width="640" height="960"/>
    <splash src="/res/ios/screen/Default-568h@2x~iphone.png" width="640" height="1136"/>
    <splash src="/res/ios/screen/Default-667h.png" width="750" height="1334"/>
    <splash src="/res/ios/screen/Default-736h.png" width="1242" height="2208"/>
    <splash src="/res/ios/screen/Default-Landscape-736h.png" width="2208" height="1242"/>
    <splash src="/res/ios/screen/Default-Portrait~ipad.png" width="768" height="1024"/>
    <splash src="/res/ios/screen/Default-Landscape~ipad.png" width="1024" height="768"/>
    <splash src="/res/ios/screen/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
    <splash src="/res/ios/screen/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
    <config-file platform="ios" parent="CFBundleLocalizations" target="*-Info.plist">
      <array>
        <string>en</string>
      </array>
    </config-file>
    <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
      <string>
				need camera access to take pictures
			</string>
    </edit-config>
    <edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
      <string>
				need to photo library access to get pictures from there
			</string>
    </edit-config>
    <edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
      <string>
				need location access to find things nearby
			</string>
    </edit-config>
    <edit-config target="NSPhotoLibraryAddUsageDescription" file="*-Info.plist" mode="merge">
      <string>
				need to photo library access to save pictures there
			</string>
    </edit-config>
    <preference name="scheme" value="monaca-app"/>
    <preference name="hostname" value="localhost"/>
  </platform>
  <platform name="android">
    <preference name="android-targetSdkVersion" value="29"/>
    <icon src="/res/android/icon/ldpi.png" density="ldpi"/>
    <icon src="/res/android/icon/mdpi.png" density="mdpi"/>
    <icon src="/res/android/icon/hdpi.png" density="hdpi"/>
    <icon src="/res/android/icon/xhdpi.png" density="xhdpi"/>
    <icon src="/res/android/icon/xxhdpi.png" density="xxhdpi"/>
    <icon src="/res/android/icon/xxxhdpi.png" density="xxxhdpi"/>
    <splash src="/res/android/screen/splash-port-ldpi.9.png" density="port-ldpi"/>
    <splash src="/res/android/screen/splash-port-mdpi.9.png" density="port-mdpi"/>
    <splash src="/res/android/screen/splash-port-hdpi.9.png" density="port-hdpi"/>
    <splash src="/res/android/screen/splash-port-xhdpi.9.png" density="port-xhdpi"/>
    <splash src="/res/android/screen/splash-port-xxhdpi.9.png" density="port-xxhdpi"/>
    <splash src="/res/android/screen/splash-port-xxxhdpi.9.png" density="port-xxxhdpi"/>
    <splash src="/res/android/screen/splash-mdpi.png" density="mdpi"/>
  </platform>
  <platform name="electron">
    <icon src="/res/electron/icon/icon_electron_512.png" width="512" height="512"/>
    <splash src="/res/electron/screen/electron_splash_image.png" width="620" height="300"/>
    <preference name="SplashScreenWidth" value="620"/>
    <preference name="SplashScreenHeight" value="300"/>
    <preference name="ShowSplashScreen" value="false"/>
  </platform>
  <preference name="WindowsStorePublisherName" value="My Name"/>
  <preference name="WindowsStoreIdentityName" value="2f84c27e-e9a4-1962-8ed2-2cd5c160b6e7"/>
</widget>
